TMDB_API_TOKEN=seu_token_bearer_do_tmdb
GOOGLE_DRIVE_CLIENT_ID=seu_client_id_google
GOOGLE_DRIVE_CLIENT_SECRET=seu_client_secret_google
GOOGLE_DRIVE_REFRESH_TOKEN=seu_refresh_token_google
GOOGLE_DRIVE_FOLDER_ID=id_da_pasta_com_filmes
GOOGLE_DRIVE_SHARED_DRIVE_ID=
APP_MEDIA_PORT=3867
